body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#root-container {
  margin: 0;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#grid-container {
  padding: 20px 30px;
  display: grid;
  align-items: stretch;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  background-color: mintcream;
  border: 5px solid darkturquoise;
  border-radius: 10px;
}

.grid-item-large {
  grid-column-start: 1;
  grid-column-end: 3;
}

input,
button {
  font-size: 18px;
  padding: 5px 15px;
  border: 1px solid darkturquoise;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 240);
  box-shadow: 1px 1px 1px 1px darkturquoise;
}